<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="shortcut icon"
      href="https://images.pexels.com/photos/5965670/pexels-photo-5965670.jpeg?auto=compress&cs=tinysrgb&w=400"
      type="image/x-icon"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Start Counting</h2>
    <script>
      var ws = new WebSocket("ws://127.0.0.1:8000/ws/ac/");
    //   ws.onopen = function (event) {
    //     console.log("WebSocket connection open....",event);
    //     ws.send("Hi, from client....");
    //   };
    //   ws.onerror = function (event) {
    //     console.log("Websocket error occurred....",event);
    //   };
    //   ws.onmessage = function (event) {
    //     console.log("Message received from server....",event);
    //   };
    //   ws.onclose = function (event) {
    //     console.log("Websocket connection closed....",event);
    //   };

    ws.addEventListener('open',function (event) {
        console.log("WebSocket connection open....",event);
        ws.send("Hi, from client....");
        
    })
    ws.addEventListener('error',function (event) {
        console.log("WebSocket connection open....",event);
        
    })
    ws.addEventListener('message',function (event) {
        console.log("Message received from server....",event);
    })
    ws.addEventListener('close',function (event) {
        console.log("Websocket connection closed....",event);
    })
    </script>
  </body>
</html>
